Importing the Required Packages

In [2]:
import numpy as np
import pandas as pd

Loading the dataset into the notebooks

In [3]:
# Loading the dataset
dataset = pd.read_csv("Data/Football_teams_price_data.csv")

# Printing the top 5 rows of the dataset
dataset.head()

,AveragePlayerAge,TotalGoalsLastSeason,MatchesWonLastSeason,MatchesDrawnLastSeason,MatchesLostLastSeason,TotalGoalsConcededLastSeason,TotalRevenueLastSeason,StadiumCapacity,AverageAttendance,TransferSpendingLastSeason,...,Country,Manager,TeamFormation,PlayingStyle,HomeCity,StadiumType,MainSponsor,KitManufacturer,OwnershipType,Price
0,24.367182,28,16,36,20,51,337.552001,55766,5229.742720,177.592126,...,England,Manager B,4-2-3-1,Counter-Attack,City C,Multipurpose,Sponsor B,Manufacturer B,Private,"4,375,181,628"
1,34.162143,89,12,35,31,84,264.850402,15307,46172.738882,125.441952,...,Spain,Manager C,3-4-3,Defensive,City C,Multipurpose,Sponsor A,Manufacturer B,Consortium,"859,750,388"
2,30.443897,43,3,9,28,72,363.423205,77050,78334.254989,43.776137,...,Spain,Manager C,3-5-2,Attacking,City D,Classic,Sponsor A,Manufacturer C,Consortium,"2,168,913,729"
3,28.177194,84,19,19,34,22,296.719959,61440,60080.423819,183.936395,...,Italy,Manager C,4-3-3,Counter-Attack,City C,Classic,Sponsor D,Manufacturer B,Consortium,"1,426,481,894"
4,20.652317,36,36,10,9,80,480.928532,78563,10940.950513,14.881518,...,France,Manager D,4-2-3-1,Counter-Attack,City D,Historical,Sponsor C,Manufacturer B,Consortium,"4,038,110,631"

# Data Cleaning and Preprocessing

1. Identification and Handling of Missing values

In [4]:
# Number of missing values in each column
print(f"Number of missing values in the dataset: \n{dataset.isnull().sum()}")

Number of missing values in the dataset:
AveragePlayerAge                0
TotalGoalsLastSeason            0
MatchesWonLastSeason            0
MatchesDrawnLastSeason          0
MatchesLostLastSeason           0
TotalGoalsConcededLastSeason    0
TotalRevenueLastSeason          0
StadiumCapacity                 0
AverageAttendance               0
TransferSpendingLastSeason      0
TransferIncomeLastSeason        0
NumberOfTrophies                0
MarketValueOfSquad              0
AveragePlayerMarketValue        0
YouthAcademyRating              0
League                          0
Country                         0
Manager                         0
TeamFormation                   0
PlayingStyle                    0
HomeCity                        0
StadiumType                     0
MainSponsor                     0
KitManufacturer                 0
OwnershipType                   0
Price                           0
dtype: int64

There are no missing value, So there's no need to do any more thing.

2. Error Correction and Inconsistencies

In [5]:
print(f"Name of the columns: {dataset.columns.values}")

Name of the columns: ['AveragePlayerAge' 'TotalGoalsLastSeason' 'MatchesWonLastSeason'
 'MatchesDrawnLastSeason' 'MatchesLostLastSeason'
 'TotalGoalsConcededLastSeason' 'TotalRevenueLastSeason' 'StadiumCapacity'
 'AverageAttendance' 'TransferSpendingLastSeason'
 'TransferIncomeLastSeason' 'NumberOfTrophies' 'MarketValueOfSquad'
 'AveragePlayerMarketValue' 'YouthAcademyRating' 'League' 'Country'
 'Manager' 'TeamFormation' 'PlayingStyle' 'HomeCity' 'StadiumType'
 'MainSponsor' 'KitManufacturer' 'OwnershipType' 'Price']

It's hard to read the names of the columns, thus we will be changing the names to make them more readable.

In [6]:
dataset.rename(columns = {
    "AveragePlayerAge": "Average_Player_Age",
    "TotalGoalsLastSeason": "Total_Goals_Last_Season",
    "MatchesWonLastSeason": "Matches_Won_Last_Season",
    "MatchesDrawnLastSeason": "Matches_Drawn_Last_Season",
    "MatchesLostLastSeason": "Matches_Lost_Last_Season",
    "TotalGoalsConcededLastSeason": "Total_Goals_Conceded_Last_Season",
    "TotalRevenueLastSeason": "Total_Revenue_Last_Season",
    "StadiumCapacity": "Stadium_Capacity",
    "AverageAttendance": "Average_Attendance",
    "TransferSpendingLastSeason": "Transfer_Spending_Last_Season",
    "TransferIncomeLastSeason": "Transfer_Income_Last_Season",
    "NumberOfTrophies": "Number_Of_Trophies",
    "MarketValueOfSquad": "Market_Value_Of_Squad",
    "AveragePlayerMarketValue": "Average_Player_Market_Value",
    "YouthAcademyRating": "Youth_Academy_Rating",
    "TeamFormation": "Team_Formation",
    "PlayingStyle": "Playing_Style",
    "HomeCity": "Home_City",
    "StadiumType": "Stadium_Type",
    "MainSponsor": "Main_Sponsor",
    "KitManufacturer": "Kit_Manufacturer",
    "OwnershipType": "Ownership_Type"
}, inplace = True)

In [7]:
print(f"Name of the columns: {dataset.columns.values}")

Name of the columns: ['Average_Player_Age' 'Total_Goals_Last_Season' 'Matches_Won_Last_Season'
 'Matches_Drawn_Last_Season' 'Matches_Lost_Last_Season'
 'Total_Goals_Conceded_Last_Season' 'Total_Revenue_Last_Season'
 'Stadium_Capacity' 'Average_Attendance' 'Transfer_Spending_Last_Season'
 'Transfer_Income_Last_Season' 'Number_Of_Trophies'
 'Market_Value_Of_Squad' 'Average_Player_Market_Value'
 'Youth_Academy_Rating' 'League' 'Country' 'Manager' 'Team_Formation'
 'Playing_Style' 'Home_City' 'Stadium_Type' 'Main_Sponsor'
 'Kit_Manufacturer' 'Ownership_Type' 'Price']

In [8]:
dataset.describe()

,Average_Player_Age,Total_Goals_Last_Season,Matches_Won_Last_Season,Matches_Drawn_Last_Season,Matches_Lost_Last_Season,Total_Goals_Conceded_Last_Season,Total_Revenue_Last_Season,Stadium_Capacity,Average_Attendance,Transfer_Spending_Last_Season,Transfer_Income_Last_Season,Number_Of_Trophies,Market_Value_Of_Squad,Average_Player_Market_Value,Youth_Academy_Rating
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,26.480678,59.343160,18.425460,18.604460,18.478100,59.538680,274.506391,54854.567880,47425.311150,99.845519,100.406919,24.584640,505.104996,25.249237,50.000278
std,4.902909,23.095732,10.955441,10.980261,10.996911,23.049783,130.150495,25986.349661,24578.631962,57.666798,57.609852,14.426361,286.475400,14.298220,28.827688
min,18.000094,20.000000,0.000000,0.000000,0.000000,20.000000,50.004035,10013.000000,5003.395786,0.006229,0.004302,0.000000,10.005993,0.500343,0.000318
25%,22.231468,39.000000,9.000000,9.000000,9.000000,40.000000,161.259631,32312.250000,26181.373046,50.196498,50.355226,12.000000,257.682086,12.808254,25.102090
50%,26.481162,59.000000,18.000000,19.000000,18.000000,60.000000,274.402274,54814.000000,47449.443426,99.927641,101.042932,25.000000,503.947159,25.293575,50.080630
75%,30.721124,79.000000,28.000000,28.000000,28.000000,79.000000,387.154302,77337.250000,68720.697593,149.525266,150.070587,37.000000,752.608455,37.612826,74.788126
max,34.999527,99.000000,37.000000,37.000000,37.000000,99.000000,499.999691,99997.000000,89998.493713,199.997388,199.999663,49.000000,999.968039,49.999690,99.997146

The Mean and Median of all the Numerical columns are almost identical, it means:
- Symmetry in Data Distribution: It indicates that the data is likely symmetrically distributed around the central value.
- Lack of Skewness: it suggests that the distribution has little to no skew.
- Robustness to Outliers: It implies that there are no extreme outliers.

We will be removing inconsistencies like "City A" and "Manager B" to "A" and "B" respectively in the columns `Manager`, `HomeCity`, `MainSponsor`, and `KitManufacturer`.

In [9]:
dataset["Manager"] = dataset["Manager"].str.replace("Manager ", "")
dataset["Home_City"] = dataset["Home_City"].str.replace("City ", "")
dataset["Main_Sponsor"] = dataset["Main_Sponsor"].str.replace("Sponsor ", "")
dataset["Kit_Manufacturer"] = dataset["Kit_Manufacturer"].str.replace("Manufacturer ", "")

Now, we will reduce the number of decimal places in a few columns.

#### Why We Do This Step
Reducing the number of decimal places can be important for several reasons:

- Readability: Fewer decimal places can make the data easier to read and interpret.
- Data Storage: Reducing the number of decimal places can slightly reduce the storage requirements of the dataset.
- Consistency: Ensuring that numerical data is presented consistently across different columns and datasets.

In [10]:
# Name of the columns that have multiple values after the decimal
round_col = ["Average_Player_Age", "Total_Revenue_Last_Season", "Average_Attendance",
             "Transfer_Spending_Last_Season", "Transfer_Income_Last_Season",
             "Market_Value_Of_Squad", "Average_Player_Market_Value",
             "Youth_Academy_Rating"]

# We will be rounding off the values to 2 decimals
for col in round_col:
    dataset[col] = dataset[col].round(2)

In [11]:
print("Number of unique columns in each column: ")
for col in dataset.columns:
    print(f"{col}: {len(dataset[col].unique())}")

Number of unique columns in each column:
Average_Player_Age: 1701
Total_Goals_Last_Season: 80
Matches_Won_Last_Season: 38
Matches_Drawn_Last_Season: 38
Matches_Lost_Last_Season: 38
Total_Goals_Conceded_Last_Season: 80
Total_Revenue_Last_Season: 30197
Stadium_Capacity: 38268
Average_Attendance: 49838
Transfer_Spending_Last_Season: 18372
Transfer_Income_Last_Season: 18339
Number_Of_Trophies: 50
Market_Value_Of_Squad: 39353
Average_Player_Market_Value: 4950
Youth_Academy_Rating: 9923
League: 5
Country: 5
Manager: 4
Team_Formation: 5
Playing_Style: 4
Home_City: 5
Stadium_Type: 4
Main_Sponsor: 4
Kit_Manufacturer: 3
Ownership_Type: 4
Price: 50000

3. Outliers Detection and Handling

We will be using the IQR method to find the outliers in the data.

In [12]:
# Function to return the count of outliers in each column
def detecting_outliers(data, threshold = 1.5):
    outliers_count = {}
    for col in data.columns:
        col_data = np.array(data[col])

        q3 = np.percentile(col_data, 75)
        q1 = np.percentile(col_data, 25)

        IQR = q3 - q1

        lower_bound = q1 - (IQR * threshold)
        upper_bound = q3 + (IQR * threshold)

        outliers = np.where((col_data < lower_bound) | (col_data > upper_bound))[0]

        outliers_count[col] = len(outliers)
    return outliers_count

In [13]:
# Names of the column which are either "int64" or "float64"
numerical_columms = [col for col in dataset.columns if dataset[col].dtype == "int64" or dataset[col].dtype == "float64"]

outliers_count_per_col = detecting_outliers(dataset[numerical_columms])

for col, count in outliers_count_per_col.items():
    print(f"{col}: {count}")

Average_Player_Age: 0
Total_Goals_Last_Season: 0
Matches_Won_Last_Season: 0
Matches_Drawn_Last_Season: 0
Matches_Lost_Last_Season: 0
Total_Goals_Conceded_Last_Season: 0
Total_Revenue_Last_Season: 0
Stadium_Capacity: 0
Average_Attendance: 0
Transfer_Spending_Last_Season: 0
Transfer_Income_Last_Season: 0
Number_Of_Trophies: 0
Market_Value_Of_Squad: 0
Average_Player_Market_Value: 0
Youth_Academy_Rating: 0

Hence, there are no outliers in the dataset.

4. Data Types and Formatting

We will be changing the data types of the columns to their appropriate data types.

In [14]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 26 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Average_Player_Age                50000 non-null  float64
 1   Total_Goals_Last_Season           50000 non-null  int64
 2   Matches_Won_Last_Season           50000 non-null  int64
 3   Matches_Drawn_Last_Season         50000 non-null  int64
 4   Matches_Lost_Last_Season          50000 non-null  int64
 5   Total_Goals_Conceded_Last_Season  50000 non-null  int64
 6   Total_Revenue_Last_Season         50000 non-null  float64
 7   Stadium_Capacity                  50000 non-null  int64
 8   Average_Attendance                50000 non-null  float64
 9   Transfer_Spending_Last_Season     50000 non-null  float64
 10  Transfer_Income_Last_Season       50000 non-null  float64
 11  Number_Of_Trophies                50000 non-null  int64
 12  Market_Value_Of_Squad             50000 non-null  float64
 13  Average_Player_Market_Value       50000 non-null  float64
 14  Youth_Academy_Rating              50000 non-null  float64
 15  League                            50000 non-null  object
 16  Country                           50000 non-null  object
 17  Manager                           50000 non-null  object
 18  Team_Formation                    50000 non-null  object
 19  Playing_Style                     50000 non-null  object
 20  Home_City                         50000 non-null  object
 21  Stadium_Type                      50000 non-null  object
 22  Main_Sponsor                      50000 non-null  object
 23  Kit_Manufacturer                  50000 non-null  object
 24  Ownership_Type                    50000 non-null  object
 25  Price                             50000 non-null  object
dtypes: float64(8), int64(7), object(11)
memory usage: 9.9+ MB

In [16]:
# Changing the Price column from "Object" type to "integer".
dataset["Price"] = dataset["Price"].str.replace(",", "").astype(float)

# With this step, we will have 8 float, 8 integer, and 10 object columns.

In the dataset, there are no ordinal columns, whereas there are a few nominal columns.